.container{
    width: 100vw;
    height: 100vh;
    background-image: url("/assets/bg-404.png");
    display: flex;
    justify-content: center;
    flex-direction: column;
 }

 .container h2{
    font-weight: 700;
    font-size: 1rem;
    font-family: var(--type-first);
    color: #EFEFEF;
    margin: 0 auto;
    padding-top: 3rem;
  }

  .image_card {
    width: 716px;
    height: 884px;
    position: relative;
    object-fit: cover;
    cursor: pointer;
    margin: 0 auto;
  }

  .container a {
    font-weight: 500;
    font-size: 1rem;
    font-family: var(--type-first);
    color: #EFEFEF;
    margin: 0 auto;
    padding-top: 1rem;
  }

  @media (max-width: 425px){
    .image_card {
      width: 358px;
      height: 442px;
    }
  }