.container{
    width: 100vw;
    height: 222px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-2);
    
}

.footer {
    max-width: 100rem;
    width: 100rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
    font-family: var(--type-first);
    font-weight: 300;
  }


  .footer span {
    font-weight: bold;
  }

  .footer p {
    color: var(--text-secondary);
  }

  .icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

  .icons a{
    margin-right: 1.3em;
  }