@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--background);
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  --type-first: 'Heebo', Helvetica;
  --type-second: 'Grape Nuts';
  margin: 0;
  padding: 0;
}

:root {
  --background: #EFEFEF;
  --background-2: #1D1D1E;
  --text-primary: #1D1D1E;
  --text-secondary: #EFEFEF;
  --icon-secondary: #EFEFEF;
  --accent: purple;
}
[data-theme='dark'] {
  --background: #1D1D1E;
  --background-2: #EFEFEF;
  --text-primary: #EFEFEF;
  --text-secondary: #1D1D1E;
  --accent: darkred;
  --icon-secondary: #EFEFEF;
}

.main-container {
  min-height: 70vh;
  
}

.title{
  font-family: var(--type-first);
  color: var(--text-primary);
  font-weight: 900;
  line-height: 1;
  font-size: 4rem;
  position: relative;
 }

 .title-2{
  font-family: var(--type-first);
  color: var(--text-secondary);
  font-weight: 900;
  line-height: 1;
  font-size: 4rem;
  position: relative;
 }

.animeLeft{
  -webkit-animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.introProject {
  animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 0;
  } 50% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
            opacity: 1;
  }
}