.container {
  width: 100vw;
  height: 100vh;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
}

.main {
  display: grid; 
  grid-template-columns: 1.6fr 1fr 0.8fr 0.6fr 1.9fr 0.8fr 0.7fr; 
  grid-template-rows: 0.3fr 0.3fr 2.5fr 1fr 1.2fr 0.6fr 1.1fr;  
  gap: 0px 0px; 
  max-width: 100rem;
  width: 100rem;
  height: 100vh;
  color: var(--primary-color);
  color: var(--primary-color);
  font-family: var(--type-first);
}

.text {
  padding-left: 0.5rem;
  grid-column-start: 1; 
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 6;
  line-height: 14px;
}

.text h1 {
  font-weight: 900;
  font-size: 3.2rem
}

.text p {
  font-weight: 400;
  font-size: 1.2rem
}

.text span {
  font-weight: 300;
  
}

.logos {
  grid-column-start: 1; 
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end: 7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.5rem;
}

.logos a{
  margin-right: 0.9em;
}

.image_home {
  width: 663px;
  height: 887px;
  grid-column-start: 6; 
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 7;
}

