.container {
  width: 100vw;
  height: 50px;
  background-color: var(--background);
  display: flex;
  justify-content: flex-end;
  padding: 1rem 1rem;
}

.button{
  width: 100px;
  height: 50px;
  background-color: var(--background);
  color: var(--text-primary);
  border: none;
  cursor: pointer;
}

.icon {
  width: 40px;
  height: 40px;
}