.navbar {
    width: 100vw;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
}

.nav {
    max-width: 100rem;
    width: 90vw;
    margin: 0 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1.2em;
    color: var(--text-primary);
    font-family: var(--type-first);
    
}

.link_items {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  .link_items li {
    margin-right: 1.3em;
  }
  
  .link_items a {
    color: var(--text-primary);
    text-decoration: none;
    padding: 5px;
    transition: 0.4s;
    border-bottom: 2px solid transparent;
  }
  
  .link_items a:hover {
    border-color: var(--text-primary);
    font-weight: 800;
  }

  .light_mode_button:hover{
      width: 50px;
      height: 50px;
      cursor: pointer;
      box-shadow: 2px 2px 4px black;
      border-radius: 50px;
  }

  .link_home{
    cursor: pointer;
  }

  .button{
    width: 50px;
    height: 50px;
    background-color: var(--background);
    color: var(--text-primary);
    border: none;
    cursor: pointer;
  }
  
 .selector{
   color: var(--text-primary);
   font-family: var(--type-first);
   background-color: var(--background);
   border: none;
 }

 .selector option {
   width: 40px;
 }

 @media (max-width: 930px){
  .navbar{
    width: 100%;
  }

  .nav {
    width: 100%;
    margin: 0;
  }

 }