.container{
  width: 100vw;
  height: 100%;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  
}

.container_wrapper{
  
  width: 100rem;
  height: 1600px;
  display: grid; 
  grid-template-columns: 0.3fr 0.3fr 3.1fr 0.3fr; 
  grid-template-rows: 0.4fr 0.4fr 2.3fr; 
  padding-bottom: 6rem;
  padding-left: 2rem;
}

.container_center{
    grid-column-start: 1; 
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}


.container_center p {
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 60px;
    color: var(--text-primary);
}

.cards{
 
    width: 100%;
    height: 100%;
    grid-column-start: 1; 
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 0.6fr 0.6fr; 
    grid-template-rows: 0.4fr 0.4fr; 
    gap: 64px 300px; 
    
  }

.card{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  
}

.image_card {
  width: 100%;
  height: 360px;
  position: relative;
  object-fit: cover;
  cursor: pointer;
}


.card_container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.card_body {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: var(--text-primary);
}

.card_body h1{
  font-weight: 700;
  font-size: 1.5rem;
  font-family: var(--type-first);
}

.card_body p {
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}

.card_body span {
  font-weight: 700;
}

.buttons {
  width:100%;
  display: flex;
  justify-content: space-between;
  margin-left: 2.5rem;
}

@media (max-width: 1440px) {
  .cards {
    gap: 50px;
  }
  
  .image_card {
    width: 80%;
    height: 360px;
    position: relative;
    object-fit: cover;
    cursor: pointer;
  }

  .card_container{
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 1440px) {
  .image_card{
    width: 90%;
    height: 230px;
  }
}

@media (max-width: 768px) {
  .card_container{
    flex-direction: column;
    text-align: center;
  }

  .buttons{
    margin-left: 10rem;
  }
}

@media (max-width: 690px) {
  .container{
    height: 2000px;
    padding-top: 2rem;
  }
 
  .cards{
    display: flex;
    flex-direction: column;
  }

  .image_card{
    width: 250px;
    height: 180px;
    margin-left: 4rem;
  }

  .buttons {
    width:250px;
    margin-left: 5rem;
    
  }
}

@media (max-width: 425px) {
  .container{
    height: 2000px;
    padding-top: 2rem;
  }
  
  .container_center p {
    font-size: 1.1rem;
  }

  .card_container {
    margin-right: 2rem;
  }

 .card_body{
   margin-right: 4rem;
 }

 .card_body p {
   font-size: 1rem;
 }

  .image_card{
    width: 250px;
    height: 180px;
    margin-left: 2rem;
  }

  .buttons {
    width:250px;
    margin-left: 2rem;
    
  }
}