.single {
  width: 100%;
  height: 100%;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.video_card{
  width: 100%;
  height: 100vh;
  position: relative;
  object-fit: cover;
  
}

.text {
  font-family: var(--type-first);
  position:absolute;
  top: 150px;
  right: 210px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end; 
  color: #ffffff;
}

.text h1 {
  font-size: 7rem;
}

.back{
  position: absolute;
  top: 52px;
  right: 210px;
  font-size: 1.2rem;
  font-family: var(--type-first);
  z-index: 1;
  color: #ffffff;
}

.description {
  max-width: 100rem;
  width: 100vw;
  height: 100%;
  padding-bottom: 4rem;
  font-family: var(--type-first);
  background: var(--background);
  color: var(--text-primary);
  margin: 0 auto;
  padding: 2rem 3rem;
}

.description h1 {
  font-weight: 800;
  font-size: 3rem;
}

.description p{
  margin-top: 2rem;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 30px;
}

.description h2 {
  margin-top: 2rem;
}

.buttons {
  margin-top: 2rem;
  width:45%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}


.img_container {
  max-width: 100rem;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 4rem;
}

.image_card {
  width: 1600px;
  height: 800px;
  position: relative;
  object-fit: contain;
  padding: 0 2rem;
}

.image_card {

  width: 100%;
}
.image_card div {
    position: unset !important;
  }

.image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }

.image_card2{
  width: 357px;
  height: 852px;
  position: relative;
  object-fit: contain;
  margin-bottom: 2rem;
  margin-right: 3rem;
}

.containerImg{
  display: flex;
  justify-content: center;
}

@media (max-width: 1440px) {
  .buttons{
    width: 30%;
  }
}

@media (max-width: 1200px) {
  .video_card{
    height: 50vh;
  }

  .text {
    top: 150px;
    right: 80px;
  }
  
  .text h1 {
    font-size: 5rem;
  }
  
  .back{      
    right: 80px;
  }
}

@media (max-width: 768px) {
  .text {
    right: 50px;
  }

  .text h2 {
    font-size: 1rem;
  }
  
  .text h1 {
    font-size: 5rem;
  }
  
  .back{      
    right: 50px;
  }

  .buttons{
    width: 50%;
  }

  .image_card {
    width: 100%;
    height: 450px;
  }
}

@media (max-width: 425px) {

  .video_card{
    height: 30vh;
  }

  .text {
    right: 20px;
    top: 110px;
  }

  .text h2 {
    font-size: 0.7rem;
  }
  
  .text h1 {
    font-size: 2rem;
  }
  
  .back{      
    right: 20px;
  }

  .buttons{
    width: 100%;
  }

  .image_card {
    width: 100%;
    height: 300px;
  }

  .containerImg{
    flex-direction: column;
  }
}

