.container{
  width: 100vw;
  height: 800px;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  
}

.container_wrapper{
  max-width: 100rem;
  width: 100rem;
  height: 100%;
  display: grid; 
  grid-template-columns: 1.1fr 1.1fr; 
  grid-template-rows: 0.4fr 0.4fr 4fr; 
  
}

.container_center{
  padding-top: 10.5rem;
}

.container_center p {
  grid-column-start: 1; 
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 60px;
  color: var(--text-primary);
}

.image_card {
 
  margin-left: 3rem;
  grid-column-start: 2; 
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  width: 800px;
  height: 800px;
  position: relative;
  object-fit: contain;
  justify-content: end;
}

.container_center span {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 60px;
  font-family: var(--type-first);
  color: var(--text-primary);
  cursor: pointer;
}

@media (max-width: 1440px){
  .container_wrapper{
    padding-left: 2rem;
    grid-template-columns: 1.1fr 1.1fr; 
  }
}

@media (max-width: 1024px){

  .container {
    height: 100vh;
  }


  .container_wrapper{
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px){

  .container_wrapper{
    width: 100vw;
  }

  .container_center{
    width: 100vw;
  }

  .container_center p,
  .container_center h1 {
    margin-left: 2rem;
  }
  
  .image_card {
   
    width: 600px;
    height: 600px;
    
  }
  
  .container_center span {
    margin-left: 2rem;
  }
}